<h4>Result</h4>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employee ID #1</th>
                <th>Employee ID #2</th>
                <th>Project ID</th>
                <th>Days worked</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model != null && @Model.EmployeeID1 > 0 && @Model.EmployeeID2 > 0)
                {
                    <td>@Model.EmployeeID1</td>
                    <td>@Model.EmployeeID2</td>
                    <td>@Model.ProjectID</td>
                    <td>@Model.DaysWorked</td>
                }
            </tr>
        </tbody>
    </table>

    @if (Model == null)
    {
        <p>No result yet</p>
    }
    else if (@Model.EmployeeID1 == 0 && @Model.EmployeeID2 == 0)
    {
        <p>No timeline match between employees' projects.</p>
    }

</div>
