<h4>Result</h4>
@if (Model != null && Model.ErrorMessage != null && Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-info">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee ID #1</th>
                    <th>Employee ID #2</th>
                    <th>Project ID</th>
                    <th>Days worked</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @if (Model != null && @Model.employeesCouple != null && @Model.employeesCouple.EmployeeID1 > 0 && @Model.employeesCouple.EmployeeID2 > 0)
                    {
                        <td>@Model.employeesCouple.EmployeeID1</td>
                        <td>@Model.employeesCouple.EmployeeID2</td>
                        <td>@Model.employeesCouple.ProjectID</td>
                        <td>@Model.employeesCouple.DaysWorked</td>
                    }
                </tr>
            </tbody>
        </table>

        @if (Model == null || @Model.employeesCouple == null)
        {
            <p>No result yet</p>
        }
        else if (@Model.employeesCouple.EmployeeID1 == 0 && @Model.employeesCouple.EmployeeID2 == 0)
        {
            <p>No timeline match between employees' projects.</p>
        }
    </div>
}
