@model ResultModel;

<h4>Result</h4>
@if (Model != null && Model.ErrorMessage != null && Model.ErrorMessage.Length > 0)
{
    <div class="alert alert-info" id="error_message">
        @Model.ErrorMessage
    </div>
}
else
{
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee ID #1</th>
                    <th>Employee ID #2</th>
                    <th>Project ID</th>
                    <th>Days worked</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && @Model.employeesCouples != null && @Model.employeesCouples.Count() > 0)
                {
                    @foreach (var e in Model.employeesCouples)
                    {
                        <tr>
                            <td id="EmployeeID1">@e.EmployeeID1</td>
                            <td id="EmployeeID2">@e.EmployeeID2</td>
                            <td id="ProjectID">@e.ProjectID</td>
                            <td id="DaysWorked">@e.DaysWorked</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @if (Model == null || @Model.employeesCouples == null)
        {
            <p>No result yet</p>
        }
        else if (@Model.employeesCouples.Count() == 0)
        {
            <p id="no_match">No timeline match between employees' projects.</p>
        }
    </div>
}
